# Build output directies #
##########################
/target
*/target
/build
*/build

# IntelliJ specific files/directories #
#######################################
out
.idea
*.iml

# Eclipse specific files/directories #
######################################
/bin/
